[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
python-dotenv = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
